<h2 class="text-center my-4">Payment Successful</h2>

<div class="container">
    <div class="row">
        <div class="col-12">
            <p class="text-center">Thank you for your purchase! Your payment has been successfully processed.</p>
        </div>
    </div>
</div>