html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.men-page {
    display: flex;
}

.categories {
    width: 25%;
    padding: 10px;
    border-right: 2px solid #ccc;
}

.products {
    width: 75%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust the minmax value as needed */
    gap: 20px;
}

.product {
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

/* Media query for larger screens */
@media (min-width: 768px) {
    .categories {
        margin-left: -80px; /* Adjust this value for medium screens */
    }
}

