@model FashionStore.ViewModels.ProductsViewModel

<div class="men-page">
    @await Html.PartialAsync("_CategoriesPartial", Model.CategoryHeaders)
    @await Html.PartialAsync("_ProductsPartial", Model.Products)
</div>

@section Scripts {
    <script src="~/js/men-scripts.js"></script>
}